projectName: emotion
environment: staging

awsRegion: eu-central-1

applications:
  - name: main
    type: server
    serviceType: NodePort
    runAsRoot: true
    route: 
      enabled: true
      host: emotion-server.staging.apps.cluster.carmel6000.org
    image: 160569206162.dkr.ecr.eu-central-1.amazonaws.com/emotion-server
    imageTag: v1
    replicas: 1
    containerPort: 8080
    configs: 
      NODE_ENV: staging 
    secrets: 
      - name:  staging
        path: after-me/staging
  - name: admin
    type: client
    route: 
      enabled: true
      certificate:
        enabled: false
      host: emotion-admin.staging.apps.cluster.carmel6000.org
      path: /
    image: 160569206162.dkr.ecr.eu-central-1.amazonaws.com/emotion-admin
    imageTag: v1
    replicas: 1
    containerPort: 80
